body {
  
  background-repeat: no-repeat;
  background-size: cover;
}
.
button.roll{
  text-align: center;
  margin-left: 600px;
  background:url("../roll_button.png");
  border-radius: 100px;
  color: rgba();(212,175,55);
  font-size: 30px;
  font-family: 'Alex Brush', cursive;
  border:1px rgb(212,175,55);
}


h1 {
  font-family: 'Alex Brush', cursive;
  color:rgb(212,175,55);
  text-align: center;
  font-size: 50px;
  margin-top: 0;
  margin-left: 150px;
}

ul {
  margin-left: 80px;
  margin-top: 100px;
}
button  {
  margin-left: 100px;
}

.die{
  text-indent: 100%;
 
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color:transparent;
  border: 1px transparent ;
  color:rgb(212,175,55);
  font-size:24px;
  text-align:center;
  list-style-type: none;
  display: inline-block;
}

.score {

}


#round {
  
  background:white;
  border: 1px solid black ;
  font-size:24px;
  text-align:center;
  list-style-type: none;
  display: inline-block;
  float: right;
}

.unClicked {
  background: rgba(0,0,0,0.5);
}
.held{
  background:grey;
  background-size: cover;
}




